@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121414;
  color: #e3e2e2;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
}

.glass-panel {
  background: rgba(22, 27, 34, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0B0E14; }
::-webkit-scrollbar-thumb { background: #32353c; border-radius: 10px; }
